.header {
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > div{
    margin: 10px;
}

.punkLogo{
    width: 200px;
   
}

.searchbar{
    background-color: #1c1c1e;
    height: 50px;
    flex: 1;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.searchcontainer{
    margin: 10px;

}

.searchinput{
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #eee;
    font-size: 16;

}
.headeritems{
    display: flex; 
    color:aquamarine   
}

.headeritems > p{
    margin: 10px;
}

.headeractions{
    display: flex;
    align-items: center;
}

.headeractions >div{
  margin: 10px;
}

.themeswitchcontainer{
    display: flex;
    background-color: #1c1c1e;
    border-radius: 50px;
    padding: 15px;
    justify-content: center;
    align-items: center;
object-fit: contain;}

.themeswitchcontainer > img{
    height: 25px;
}

.loginbutton{
    background: linear-gradient(to right , #59f9b7,#66feea);
    padding: 15px 40px;
    border-radius: 50px;
    color: black;
}